body, html{
    height:100%;
    background-color:  #FAFAFA;
}

.whole-page{
    display: flex;
    margin: 50px;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: monospace;
    font-size: 50px;
}

.leftt-side{
    flex-grow: 1;
}
.right-side{
    flex-grow: 1;
}

.login-form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    padding-bottom: 30px;
    margin-left: 250px;
    margin-right: 300px;


}

input{
    width: 250px;
    height: 30px;
}

.log-in-button{
    background-color: rgb(88, 198, 246);
    height: 35px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    color: #FAFAFA;
    border: 0ch;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.log-in-button:hover{
    opacity: 0.7;
    font-size: 21px;
}

.sign-up-button{
    background-color: rgb(21, 20, 20);
    height: 35px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    color: #FAFAFA;
    border: 0ch;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.sign-up-button:hover{
    opacity: 0.7;
    font-size: 21px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

@media screen and (max-width: 820px) {
    .right-side {
        display: flex;
        margin-left: 0px;
        margin-right: 70px;
    }

    .leftt-side{
        display: none;
    }

    .footer-links{
        display: none;
    }    
}

@media screen and (max-width: 414px) {
    .right-side {
        display:flex;
        margin-left: 0px;
        margin-right: 0px;

    }

    .leftt-side{
        display: none;
    }

    .footer-links{
        display: none;
    }    

}
